.nav {
  border: none;
  position: relative;
  z-index: 2;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 1.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 2px solid white; */
}

.link span {
  margin-left: 0.2rem;
}

.heading-link {
  text-decoration: none;
  color: white;
}