.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-link {
  text-decoration: none;
  color: #1C1F23;
  padding: 1rem 0;
}

.side-link span {
  display: block;
}
